{% extends 'base.html' %}

{% block page %}
    <header>
        <div class="logo">
            <a onclick="scrollHome()">money</a>
        </div>
    </header>

    <section class="interactions">
        <a href="{{ url_for('log_transaction')}}">
            <button class="highlight">Log transaction</button>
        </a>
    </section>

    <section class="dashboard">
        <div class="card">
                <span class="smallText">
                    {{ config.person_a if currently_in_debt[0] == 'a' else config.person_b}}
                    ows {{ config.person_b if currently_in_debt[0] == 'a' else config.person_a}}
                </span>
            <h1>{{currently_in_debt[1]}} {{config.currency_short}}</h1>
        </div>
        <div class="card">
            <span class="smallText">Total expenses this month</span>
            <h1>{{total_expenses}} {{config.currency_short}}</h1>
        </div>
    </section>

    {% include 'transactionsFeed.html' with context %}
    {% if transactions|length > 0 %}
        <a href="{{ url_for('all_transactions') }}">View all transactions...</a>
    {% endif %}
{% endblock  %}